<h3 class="d-flex justify-content-center txt">PENGUIN BUDGET CALCULATOR</h3>
<div class="container-fluid bg">
    <h2>Welcome, {{accountdetails.UserFullName}}</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="container-fluid bg">
            <div class="row">
              <div class="col">
                Checking Account
              </div>
              <div class="col">
                <label>${{accountdetails.AccountNumber}}</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>#{{accountdetails.AccountNumber}}</label>
              </div>
              <div class="col">
                available balance
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
