<div class="row hr"></div>
<h4 class="bg ">Your Transactions</h4>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-2 bg" 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false">
<i class="bi bi-plus-circle"></i>
    Add New
</button>
<table class="table table-striped">
    <thead class="bg">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactionList">
            <td>{{transaction.transactionDate}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.amount}}</td>                
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-trans *ngIf="ActivateAddTranComp"></app-add-trans>        
        </div>
      </div>
    </div>
  </div>